Repository HendrixMM/pharmaceutical-rag-knowledge-expert, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, scripts

.github/labeler.yml:

documentation:
  - "docs/**"
  - "README.md"
  - "**/*.md"

ci:
  - ".github/workflows/**"

scripts:
  - "scripts/**"

docs(README): add CI badge, license badge, issues link, and project links for professional polish
  README.md
Labels: documentation

docs: add validation scripts and fix broken links (Phase 7)
  docs/EXAMPLES.md
  scripts/validate-docs.sh
Labels: documentation, scripts

docs: fix internal links for docs/ context; resolve linkcheck failures
  docs/CHANGELOG.md
  docs/CODE_OF_CONDUCT.md
  docs/QUICK_START.md
  docs/SECURITY.md
  docs/SUPPORT.md
  docs/index.md
Labels: documentation

ci: skip secret-dependent and heavy test jobs on PR; run them on push/workflow_dispatch
  .github/workflows/pharmaceutical_testing.yml
  .github/workflows/tests.yml
Labels: ci

docs(readme): UI/UX formatting polish; content unchanged
  README.md
Labels: documentation

README.md
  README.md
Labels: documentation

README.md
  README.md
Labels: documentation

docs(readme): sync with main; add badges, Try It Now, tech overview; update contact email
  README.md
Labels: documentation

docs(readme): fix Demo badge anchor to #try-it-now
  README.md
Labels: documentation

docs(readme): add Quick Links, Highlights, and TIP callout for tech overview; polish formatting
  README.md
Labels: documentation

docs(readme): elevate UI/UX — add CTA buttons, At a Glance summary table, and compliance callout; improve visual hierarchy
  README.md
Labels: documentation

docs(readme): fix placeholder links to pass linkcheck on main
  README.md
Labels: documentation

revert(readme): restore previous README content on main
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

README.md
  README.md
Labels: documentation

README.md
  README.md
Labels: documentation

README.md
  README.md
Labels: documentation
